:root {
  --cor-fundo: #b20000;
  --cor-hover: rgb(202, 83, 28);
  --cor-primaria: white;
}

.dp-menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.dp-menu ul {
  background-color: var(--cor-fundo);
}

.dp-menu ul li {
  display: inline;
  position: relative;
}

.dp-menu ul li a {
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background 0.3s;
}

.dp-menu ul li a:hover {
  background-color: var(--cor-hover);
}

/*sub menu*/
.dp-menu ul ul {
  display: none;
  left: 0;
  position: absolute;
}

.dp-menu ul li:hover ul {
  display: block;
}

.dp-menu ul ul {
  background-color: gray;
  width: 250px;
}

.dp-menu ul ul li a {
  display: block;
}

a {
  font-size: 13px;
  font-weight: bold;
}

ul {
  display: table;
  width: 100%;
  text-align: center;
}

#centro {
  display: flex;
  justify-content: center;
}

#logo {
  width: 280px;
  height: 140px;
  margin-top: 23px;
}

#predio {
  width: 90rem;
  height: 35rem;
  margin-top: -17px;
  z-index: -10;
}

#submenu {
  background-color: #005c6e;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#estilo {
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

.z-index-master {
  position: relative;
  z-index: 10;
}
