.ach-titulo {
  font-size: 40px;
  color: #005c6e;
  font-family: "Noto Sans";
  font-weight: bold;
}

.ach-subtitulo {
  font-family: Noto Sans;
  font-weight: lighter;
  font-size: 20px;
}

.ach-card-titulo {
  color: #2bb8c9;
  font-weight: bold;
}
.ach-card-texto {
  font-family: "Noto Sans";
  font-size: 23px;
}

.ach-card-botao {
  font-family: "Lucida Sans";
}

.ach-card-descricao {
  text-align: justify;
  font-family: "Cambria";
  font-size: 23px;
}
.ach-card-descricao-citacao {
  text-align: justify;
  font-family: "Cambria";
  font-size: 23px;
  font-style: italic;
  font-weight: lighter;
  color: gray;
}

.ach-link {
  text-decoration: none;
  font-size: 20px;
  color: darkblue;
}
