.cpa-p {
  font-family: "Cambria";
  font-size: 22px;
}

.cpa-text {
  font-family: "Cambria";
  font-size: 22px;
}

.cpa-h2 {
  font-family: "Cambria";
  font-weight: bold;
}
.imagens {
  max-width: 360px;
}

.cpa-link {
  text-decoration: none;
  color: darkblue;
  font-size: 22px;
  font-family: "Cambria";
}
